.banner{
    padding-top: 115px;
    height: 500px;
    width: 80%;
    margin: auto;
    box-sizing:  border-box;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('OIP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}