.banner{
    padding-top: 115px;
    height: 500px;
    width: 80%;
    margin: auto;
    box-sizing:  border-box;
    background:url('Banner.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 65%;
    background-position: center;
}