
.search{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.search input{
    display: flex;
    width: 300px;
    height: 25px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    padding: 4px;
}

.search button{
    height: 25px;
    width: 30px;
    background-color: rgb(39, 39, 39);
    box-shadow: none;
    border: 0px solid black;
}

.search i{
    color: white;
}